doctype html

html
  head
    title= title
 
    block style

    link(rel='stylesheet' href='static/blocks/page.css')
    link(rel='stylesheet' href='static/blocks/container/container.css')
    link(rel='stylesheet' href='static/blocks/content/content.css')

    link(rel='stylesheet' href='static/blocks/header/header.css')
    link(rel='stylesheet' href='static/blocks/header-bar/header-bar.css')
    link(rel='stylesheet' href='static/blocks/header-bar/header-bar__link.css')

    link(rel='stylesheet' href='static/blocks/nav/nav.css')
    link(rel='stylesheet' href='static/blocks/nav/nav__link.css')

  body
    .container
      .header
        .header-bar 
          a.header-bar__link(href='/')='B O X L A N D'
      .nav
        a.nav__link(href='/')= 'H O M E'
        a.nav__link(href='/blog')= 'B L O G' 
        a.nav__link(href='/single')= 'S I N G L E'
        a.nav__link(href='/mingle')= 'M I N G L E'
        a.nav__link(href='/highscores')= 'H I G H S C O R E S'
      .content
        block content
    block scripts